#map{
  width: 100%;
  height: 40rem;
  border-radius: 5px;
}

.topimgs{
  height: 100%;
  width: 100%;
}

.midimg{
  padding: 10px;
}
#siteinfo{
  margin-top: 40px;
}
.webforward{
  margin-left: 1rem;
}
